# Ignore Roadiz tools and cache for
# creating a docker image

*/temp*
*/*/temp*
samples
docker
.vagrant
.idea
app/cache/*
app/gen-src/Compiled/*
app/gen-src/GeneratedNodeSources/*
app/gen-src/Proxies/*
app/*.zip
app/*.sql
app/*.tar.gz
*.zip
*.sql
*.tar.gz
.git
*/*/node_modules
*/*/*/node_modules
files/*
web/files/*
*/*/*/src-img
*/*/src-img
!vendor